.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .popup-content {
  position: relative;
}
.popup-content i {
  position: absolute;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  font-size: 2.5rem;
  z-index: 999;
  background-color: black;
  top: -10px;
  right: -10px;
  display: flex;
  line-height: 0.77;
  padding: 7px;
}
.popup-content i:hover {
  cursor: pointer;
}

.popup-content img {
  max-width: 80vw;
  border-radius: 50px;
}
